doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Duc Vien
      link(rel="stylesheet", href="./style/index.css")
      link(rel="icon", href="./assets/images/logo-01.ico")
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Cinzel+Decorative:wght@400;700;900&display=swap", rel="stylesheet")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css", integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==", crossorigin="anonymous", referrerpolicy="no-referrer")
   body 
      header
         img.header-background(src="./assets/images/image-1.jpg", alt="header")
         img.header-logo(src="./assets/images/logo-01.png", alt="logo-01")

         .header-content 
            .title 
               span.line 
               span BEER 
               span.line 
            .description NOW THERE'S A TEMPORARY SOLUTION.
            p Dan Castellaneta

         .header-navigate
            p Scroll to view more 
            i.fa-solid.fa-chevron-down

      main 
         img.main-background(src="./assets/images/main-background.jpg", alt="header")

         .main-content  
            .content-01 
               h2.content-01-title THE JOY OF BREWING 
               P.content-01-detail We develope recipes, imported raw materials, experiment, and spills brew beer in the friendly breweries.
            
            .content-02 
               img(src="./assets/images/content-02.jpg", alt="content-02")

            .content-03 
               img(src="./assets/images/image-2-with-shadow.jpg", alt="content-03")
               .content-03-detail 
                  h2 ZEUS - ORIGINAL &nbsp; QUALITY 
                  p This fancy beer in the style American India Pale Ale. Red-copper-bodied, with citrus flavor and aroma, floral, pine and fruit derived from American hops.
                  button CHECK MORE
            
            .content-04 
               img(src="./assets/images/beer.png", alt="")
            
            .content-05 
               img(src="./assets/images/drinking.jpg", alt="")
               p.content-05-title LOREM IPSUM DOLOR SIT AMET

            .content-06 
               h2.content-06-title HANDCRAFTED QUALITY  </br>
               p.content-06-detail Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut perferendis, nam, reprehenderit illum consequuntur ab nihil praesentium quidem vel quae, eaque dolor ipsa nesciunt voluptatum sint fuga esse incidunt animi!  </br>
                  </br>Reprehenderit illum consequuntur ab nihil praesentium quidem vel quae, eaque dolor ipsa nesciunt voluptatum sint fuga esse incidunt animi!

            .content-07 
               img(src="./assets/images/image-3.jpg", alt="content-07 ")

            .content-08 
               h2.content-08-title START YOUR&nbsp; JOURNEY &nbsp;NOW
               p.content-08-detail Beer, now there's a temporary solution 
               button ORDER ZEUS